<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
<div class="mdl-card mdl-cell mdl-cell--12-col">
		<div class="mdl-card__supporting-text">
			<h3>Profile</h3>
			<p>
				<h5> Name </h5><br>Kazushi Yamashina
			</p>
			<p>
				<h5> Affiliation </h5> Utsunomiya University, Graduate School of Engineering
			</p>
			<p>
				<h5> Hometown </h5> Shinjo, Yamagata, Japan
			</p>
			<p>
				<h5> Birthday </h5> 1992.11.08
			</p>
			<p>
				<h5> Personal history </h5>
					<li>2017 Received M.E. from Utsunomiya University, Graduate School of Engineering.</li>
					<li>2015 Received B.E. from Utsunomiya University of Engineering, Japan.</li>
					<li>2011 Received Assoc. from Shino North High School, Japan.</li>
			</p>
			<p>
				<h5> Hobby </h5>
				Ski
			</p>
			<p>
				<h5> Favorite </h5>
				Shshi, Raw Fish, Gyoza, Beer, Ramen, Kobukuro
			</p>
			<p>
				<h5> Skill </h5>
				<h6> Programming language and markup</h6>
					 <li>Python
					 <li>Verilog HDL
					 <li>C
					 <li>C++
					 <li>Ruby
					 <li>HTML
					 <li>Java
					 <li>Markdown
					 <li>LaTeX
				<h6> Keywords </h6>
					<li>FPGA(Filed Programmable Gate Array)
					<li>HW/SW co-design
					<li>Robot
					<li>ROS
					<li>Component oriented design
					<li>Embedded Linux
					</li>
				<h6> OS </h6>
					<li>Windows
					<li>Ubuntu
					<li>CentOS
					<li>OS X
					</li>
			</p>
		</div>
</div>
<!-- <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn3">
		<i class="material-icons">more_vert</i>
</button>
<ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn3">
		<li class="mdl-menu__item">Lorem</li>
		<li class="mdl-menu__item" disabled>Ipsum</li>
		<li class="mdl-menu__item">Dolor</li>
</ul> -->
</section>