<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
	<div class="mdl-card mdl-cell mdl-cell--12-col">
		<div class="mdl-card__supporting-text">
			<h3>Studies</h3>
			<h5>Build instruction for Embedded Linux on FPGA board</h5>
				<h6><a href="https://github.com/kazuyamashi/cocore/blob/master/zybo/build_instruction/xillybus_and_ros_on_ubuntu_on_zybo_en.md">Xillybus and ROS on Ubuntu on Zybo</a></h6>
				<h6><a href="https://github.com/kazuyamashi/cocore/blob/master/zedboard/build_instruction/xillybus_and_ros_on_ubuntu_on_zedboard_en.md">Xillybus and ROS on Ubuntu on Zedboard</a></h6>
	</div>
</section>
