<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
<div class="mdl-card mdl-cell mdl-cell--12-col">
		<div class="mdl-card__supporting-text">
			<h3>Project</h3>
			<h5><a href="https://github.com/kazuyamashi/cocore.git">COCORE</a></h5>
			<p>COCORE is a Linux distribution for Programmable SoC (Zynq). In COCORE, a file system is based on Ubuntu 14.04 armhf, and COCORE includes Xillybus and ROS (Robot Operating System)</p>
			<h5><a href="https://github.com/kazuyamashi/cReComp.git">cReComp</a></h5>
			<p>creator for Reconfigurable Component. The cReComp is a code generator and framework for componentization of a single hardware or the multiple hardware.</p>
		</div>
</div>
</section>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
<div class="mdl-card mdl-cell mdl-cell--12-col">
		<div class="mdl-card__supporting-text">
		<h3>Publication</h3>
			<h5>International Conference (Peer Reviewed)</h5>
			<ul>
					<li>Takeshi Ohkawa, <strong>Kazushi Yamashina</strong>, Takuya Matsumoto, Kanemitsu Ootsu, Takashi Yokota, "Architecture Exploration of Robot System using ROS-Compliant FPGA Component," 27th IEEE International Symposium on Rapid System Prototyping (RSP), http://dx.doi.org/10.1145/2990299.2990312, 2016</li>
					<li><strong>Kazushi Yamashina</strong>, Takeshi Ohkawa, Kanemitsu Ootsu, Takashi Yokota, “cReComp: Automated Design Tool for ROS-Compliant FPGA Component”, IEEE 10th International Symposium on Embedded Multicore/Many-core Systems-on-Chip (MCSoC-16), http://ieeexplore.ieee.org/document/7774431, 2016</li>
					<li><strong>Kazushi Yamashina</strong>, Takeshi Ohkawa, Kanemitsu Ootsu, Takashi Yokota, “Proposal of ROS-compliant FPGA Component for Low-Power Robotic Systems —-case study on image processing application—-,” Proceedings of 2nd International Workshop on FPGAs for Software Programmers (FSP 2015), pp.62-67, ePrint Proceedings: arXiv:1508.06320 (http://arXiv.org/abs/1508.06320/), 2015</li>
			</ul>
			<h5>Domestic Workshop (Non Reviewed & Japanese only)</h5>
			<ul>
				<li><strong>Yuhei Sugata</strong>, Kazushi Yamashina, Takeshi Ohkawa, Kanemitsu Ootsu, Takashi Yokota, "ROSのPublish/Subscribe通信のハードウェア実装による高速化の検討'', 情報処理学会第79回全国大会予稿集.</li>
				<li><strong>Kazushi Yamashina</strong>, Takuya Matsumoto, Takeshi Ohkawa, Kanemitsu Ootsu, Takashi Yokota, "FPGAを用いた処理のロボット向けコンポーネントと設計生産性評価'', TECHNICAL REPORT OF IEICE, Vol.116, No.462, CNR2016-23, pp.23-28, 2017.</li>
				<li>Takuya Matsumoto, <strong>Kazushi Yamashina</strong>, Takeshi Ohkawa, Kanemitsu Ootsu, Takashi Yokota, "ニューラルネットワークのROS準拠FPGAコンポーネント化の初期検討'', TECHNICAL REPORT OF IEICE, Vol. 116, No.417, RECONF2016-70, pp.133-134, 2017.</li>
				<li><strong>Kazushi Yamashina</strong>, Takeshi Ohkawa, Kanemitsu Ootsu, Takashi Yokota, "Functional Improvement of cReComp Design Tool for Software-Component Generation of FPGA Proces'', TECHNICAL REPORT OF IEICE, Vol.116, No.210, RECONF2016-24, pp.1-6, 2016</li>
				<li><strong>Kazushi Yamashina</strong>, Takeshi Ohkawa, Kanemitsu Ootsu, Takashi Yokota, "自律移動ロボット向けソフト・ハード協調のためのコンポーネント設計支援ツール'', 第34回日本ロボット学会学術講演会予稿集, 2X1-08, 2016.</li>
				<li><strong>Kazushi Yamashina</strong>, Takeshi Ohkawa, Kanemitsu Ootsu, Takashi Yokota, "Automatic Design Environment for Componentization of an FPGA Processing in ROS'', Proceedings of the 60th Annual Conference of the Institute of Systems, Control and Information Engineers, 111-3, 2016.</li>
				<li><strong>Kazushi Yamashina</strong>, Hitomi Kimura, Takeshi Ohkawa, Kanemitsu Ootsu, Takashi Yokota, "FPGAコンポーネントを用いた水中ロボット制御の高速化'', 情報処理学会 第78回全国大会講演論文集, pp.xx～xx-xx, 2016.</li>
				<li><strong>Kazushi Yamashina</strong>, Takeshi Ohkawa, Kentaro Sano, Kouhei Nagasu, Daichi Tanaka, Kanemitsu Ootsu, Takashi Yokota, "ROS準拠FPGAコンポーネントを用いた遠隔制御ロボットカー'', TECHNICAL REPORT OF IEICE, Vol.115, No.243, CPSY2015-54, pp.49, 2015</li>
				<li><strong>Kazushi Yamashina</strong>, Takeshi Ohkawa, Kanemitsu Ootsu, Takashi Yokota, "ROS Compliant Componentizing of Image Processing Hardware on a Programmable SoC'', TECHNICAL REPORT OF IEICE, Vol.115, No.109, RECONF2015-8, pp.41-46, 2015</li>
				<li><strong>Kazushi Yamashina</strong>, Takeshi Ohkawa, Kanemitsu Ootsu, Takashi Yokota, " Fundamental Design of ROS Compliant Components of Image Processing on an FPGA for Robotic Application'', 情報処理学会 第77回全国大会講演論文集, pp.1-169～1-170, 2015</li>
		</ul>
		</div>
	</div>
</section>

<!-- 
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
<div class="mdl-card mdl-cell mdl-cell--12-col">
		<div class="mdl-card__supporting-text">
			<h3>Activity</h3>
				<h4>受賞等</h4>
				<ul>
					<li>2016年5月25日 第60回システム制御情報学会研究発表講演会 学生SCI学生発表賞</li>
					<li>2016年11月29日 リコンフィギャラブルシステム研究会 若手講演賞</li>
				</ul>

				<h4>研究助成金獲得の実績</h4>
				<ul>
					<li>2015年 宇都宮大学イノベーション創成部門ヤングイノベーションスカラシップ研究グラント採択</li>
				</ul>
				<h4>その他の活動</h4>
				<ul>
					<li>2016年11月14日-2016年12月31日 宇都宮大学，FPGAコンポーネントの研究に関する技術補佐員</li>
					<li>2016年 LED-Camp4実行委員</li>
					<li>2016年5月24日 ロボットシステムの設計技術に関する技術講習会 講師</li>
				</ul>			
		</div>
</div>
</section> -->