<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
	<div class="mdl-card mdl-cell mdl-cell--12-col">
		<div class="mdl-card__supporting-text">
			<h3>Studies</h3>
			<h5>FPGAボード向けLinux OSの作り方</h5>
				<h6><a href="https://github.com/kazuyamashi/cocore/blob/master/zybo/build_instruction/xillybus_and_ros_on_ubuntu_on_zybo.md">Xillybus and ROS on Ubuntu on Zybo</a></h6>
				<h6><a href="https://github.com/kazuyamashi/cocore/blob/master/zedboard/build_instruction/xillybus_and_ros_on_ubuntu_on_zedboard.md">Xillybus and ROS on Ubuntu on Zedboard</a></h6>
			<h5>FPGA×ROS</h5>
				<h6><a href="crecomp_ws/index.html">cReCompのチュートリアル</a></h6>
				<h6><a href="Studies/openreroc_pwm_intro.html">OpenReroc openreroc_pwmの紹介</a></h6>
			<h5>FPGA関連</h5>
				<h6><a href="Studies/Xillinux_tutorial.html">Xillinuxの導入の仕方</a></h6>
			<h5>ROS関連</h5>
				<h6><a href="ros_lecture/index.html">ROSの基礎的知識まとめ</a></h6>
			<h5>Deep Learnig</h5>
				<h6><a href="https://github.com/kazuyamashi/deep-learning">Deep Learningの実装</a></h6>
		</div>
	</div>
</section>
