<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
<div class="mdl-card mdl-cell mdl-cell--12-col">
		<div class="mdl-card__supporting-text">
			<h3>Project</h3>
			<h5><a href="https://github.com/kazuyamashi/cReComp.git">cReComp</a></h5>
			<p>creator for Reconfigurable Component. FPGAコンポーネント向けの自動コードジェネレータ</p>
		<h5><a href="crecomp_doc/getting_started_jp.html">cReCompのGetting Started</a></h5>
			<p>cReCompを使用して開発するためのチュートリアル</p>
		<h5><a href="https://github.com/Kumikomi">Kumikomi班</a></h5>
			<p>ROS向けのFPGA対応パッケージを開発しています。</p>
		<h5>OpenReroc</h5>
			<p>Open source Reconfigurable robot components</p>
		</div>
</div>
</section>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
<div class="mdl-card mdl-cell mdl-cell--12-col">
		<div class="mdl-card__supporting-text">
		<h3>Activity</h3>
			<li>2016 <a href="http://swest.toppers.jp/LED-Camp/">LED-Camp4</a> 実行委員</li>
		</div>
	</div>
</section>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
<div class="mdl-card mdl-cell mdl-cell--12-col">
		<div class="mdl-card__supporting-text">
			<h3>Publication</h3>
				<h5 id="2016"><a name="2016" href="#2016"></a>2016</h5>
				<p></p>
				<h6 id="国外"><a name="国外" href="#国外"></a>国外</h6>
				<ul>
					<p></p>
					<li>Ohkawa, Kazushi Yamashina, Takuya Matsumoto, Kanemitsu Ootsu, Takashi Yokota,
						<br>"Architecture Exploration of Robot System using ROS-Compliant FPGA Component,"
						<br> 27th IEEE International Symposium on Rapid System Prototyping (RSP)
					</li>
					<br>
					<li>Kazushi Yamashina, Takeshi Ohkawa, Kanemitsu Ootsu, Takashi Yokota,
						<br>“cReComp: Automated Design Tool for ROS-Compliant FPGA Component”,
						<br>IEEE 10th International Symposium on Embedded Multicore/Many-core Systems-on-Chip (MCSoC-16) @ Lyon, France
					</li>
				</ul>
				<p></p>
				<h6 id="国内"><a name="国内" href="#国内"></a>国内</h6>
				<ul>
					<p></p>
					<li>山科 和史，大川 猛，大津 金光，横田 隆史， “FPGA処理をソフトウェアコンポーネント化する設計ツールcReCompの高機能化の検討”，
						<br> "Functional improvement of cReComp Design tool for software-component generation of FPGA processing"，
						<br>リコンフィギャラブルシステム研究会（RECONF）@富山
						<br><a href="doc/reconf_2016_09.pdf" title="">paper</a>
					</li>
					<br>
					<li>山科 和史，大川 猛，大津 金光，横田 隆史， “自律移動ロボット向けソフト・ハード協調のためのコンポーネント設計支援ツール”，
						<br>第34回日本ロボット学会学術講演会 (RSJ2016)＠山形
						<br>
					</li>
					<br>
					<li><b><font color="red">SCI学生発表賞受賞</font></b>　山科 和史，木村 仁美，大川 猛，大津 金光，横田 隆史， “FPGA処理をROSコンポーネント化する自動設計環境”，
						<br> "Automatic Design Environment for Componentization of an FPGA Processing in ROS,"
						<br>第60回システム制御情報学会研究発表講演会 (SCI’16)＠京都
						<br><a href="doc/sci16.pdf" title="">paper</a>
					</li>
					<br>
					<li>木村 仁美，山科 和史，大川 猛，大津 金光，横田 隆史， “FPGAコンポーネントを用いた水中ロボット制御の高速化”，
						<br> Speed-up of a underwater robot control with FPGA component,
						<br>情報処理学会 第77回全国大会 2015年3月10日(木)～12(土)
						<br>於：慶應義塾大学 矢上キャンパス</li>
				</ul>
				<h5 id="2015"><a name="2015" href="#2015"></a>2015</h5>
				<p></p>
				<h6 id="海外"><a name="海外" href="#海外"></a>海外</h6>
				<ul>
					<p></p>
					<li>Kazushi Yamashina, Takeshi Ohkawa, Kanemitsu Ootsu, Takashi Yokota,
						<br>“Proposal of ROS-compliant FPGA Component for Low-Power Robotic Systems —-case study on image processing application—-,”
						<br>Proceedings of 2nd International Workshop on FPGAs for Software Programmers (FSP 2015), pp.62-67, 2015.09.01.
						<br>ePrint Proceedings: arXiv:1508.06320 (<a href="http://arXiv.org/abs/1508.06320/">http://arXiv.org/abs/1508.06320/</a>)
						<br><a href="doc/cameraready_fsp2015_final.pdf" title="">paper</a>&nbsp;&nbsp;<a href="doc/poster_fsp.pdf" title="">poster</a>
					</li>
				</ul>
				<h6 id="国内"><a name="国内" href="#国内"></a>国内</h6>
				<ul>
					<li>
						<p>電子情報通信学会　コンピュータシステム研究会（CPSY）
							<br>日時：　2015年10月8日(木)
							<br>場所：　幕張メッセ国際会議場
							<br>山科 和史，大川 猛，佐野 健太郎，長洲 航平，田中 大智， 大津 金光，横田 隆史，
							<br>“ROS準拠FPGAコンポーネントを用いた遠隔制御ロボットカー”, 2015年10月8日．
							<br><a href="doc/ceatec_cameraredy.pdf" title="">paper</a>&nbsp;&nbsp;<a href="doc/poster_ceatec_pre.pdf" title="">poster</a></p>
					</li>
					<li>
						<p>「組込みシステム技術に関するサマーワークショップ」SWEST17
							<br>(Summer Workshop on Embedded System Technologies (SWEST))
							<br>山科 和史，大川 猛，大津 金光，横田 隆史， “FPGAを使ってロボットをパワーアップ！”，
							<br>組込みシステム技術に関するサマーワークショップ SWEST17
							<br><a href="doc/poster_swest.pdf" title="">poster</a></p>
					</li>
					<li>
						<p>リコンフィギャラブルシステム研究会（RECONF）≪RECONF 10周年記念研究会≫
							<br>2015年6月19日(金)-20日(土)
							<br>於：京都大学吉田キャンパス百周年時計台記念館
							<br>山科 和史，大川 猛，大津 金光、横田 隆史，“FPGA SoCを用いた画像処理ハードウェアのROS準拠コンポーネント化”，
							<br>信学技報，Vol.115, No.109, pp.41-46 (RECONF2015-8), 2015年6月. （発表日：2015.06.19）
							<br><a href="doc/reconf_2015_6.pdf" title="">paper</a></p>
					</li>
				</ul>
				<h5 id="2014"><a name="2014" href="#2014"></a>2014</h5>
					<h6 id="国内"><a name="国内" href="#国内"></a>国内</h6>
					<ul>
					<li>
						<p>
							情報処理学会 第77回全国大会
						<br>2015年3月17日(火)～19(木)　於：京都大学 吉田キャンパス
						<br>山科 和史，大川 猛，大津 金光，横田 隆史，
						<br>“ロボット応用のためのROS準拠FPGA画像処理コンポーネントの基礎設計”，
						<br>情報処理学会 第77回全国大会講演論文集， pp.1-169～1-170, 2015年3月18日．</p>
					</li>
				</ul>
		</div>
	</div>
</section>



