<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
<div class="mdl-card mdl-cell mdl-cell--12-col">
		<div class="mdl-card__supporting-text">
		<h3>My account</h3><br>
			<a href="https://twitter.com/KazushihsuzaK">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
	 				<img src="images/twitter.png" height="32"></img>
				</button>
			</a> : KazushihsuzaK<br>
			<a href="https://www.facebook.com/kazushi.yamashina">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
	 				<img src="images/facebook.png" height="32"></img>
				</button>
			</a> : Kazushi Yamashina<br>
			<a href="https://github.com/kazuyamashi">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
	 				<img src="images/github.png" height="32"></img>
				</button>
			</a> : kazuyamashi
		</div>
	</div>
</section>
