<h4>Profile</h4>
	<p>
		<h5> Name </h5>山科和史<br>Kazushi Yamashina
	</p>
	<p>
		<h5> Affiliation </h5> 宇都宮大学大学院 工学研究科
	</p>
	<p>
		<h5> Hometown </h5> 山形県新庄市
	</p>
	<p>
		<h5> Birthday </h5> 1992/11/08
	</p>
	<p>
		<h5> Personal history </h5>
			2011　山形県立新庄北高校卒業<br>
			2015　宇都宮大学卒業<br>
			2015　宇都宮大学大学院入学<br>
	</p>
	<p>
		<h5> Skill </h5>
		<div>
		<h6> Programming language </h6>
			 C, C++, Verilog-HDL, Ruby, Python, HTML, Java, Markdown
		<h6> Area </h6>
			<li>FPGA(Filed Programmable Gate Array)
			<li>HW/SW co-design
			<li>Design tool
			<li>Robot
			<li>ROS
			<li>Component oriented design
			</li>
		<h6> OS </h6>
			<li>Windows
			<li>
			<li>
			</li>
		<div>
	</p>