<h4>Profile</h4>
	<p>
		<h5> Name </h5> &nbsp; 山科和史 Kazushi Yamashina
	</p>
	<p>
		<h5> Affiliation </h5> &nbsp; 宇都宮大学大学院 工学研究科
	</p>
	<p>
		<h5> Hometown </h5> &nbsp; 山形県新庄市
	</p>
	<p>
		<h5> Birthday </h5> &nbsp; 1992/11/08
	</p>
	<p>
		<h5> Personal history </h5>
			&nbsp; 2011　山形県立新庄北高校卒業
			&nbsp; 2015　宇都宮大学卒業
			&nbsp; 2015　宇都宮大学大学院入学
	</p>
	<p>
		<h5> Skill </h5>
		<h6> Programming language </h6>
			&nbsp; C, C++, Verilog-HDL, Ruby, Python, HTML, Java, Markdown
		<h6>  </h6>
	</p>
